.rouge{
  color: #FE423E !important;
}

body{
  font-family: 'Lato', sans-serif;
  /*color: white !important;*/
}
.jumbotron{
  position: relative !important;
  /*background-image: url("asset/image/mebeforeyou.jpg");
  background-size: cover;*/
  /*padding: 0 !important;*/
  /*color: white;*/
}

nav.navbar{
  position: absolute ;
  z-index: 10;
<<<<<<< HEAD
  /* color: white !important; */
=======
>>>>>>> 77cbfab39fc7516eacc144a81dde88641d6f0ee2
}

/* .carousel{
  z-index: 5;
} */

/*img{
  filter: brightness(0.30);
}*/

.btn-danger{
  background-color: #FE4140;
}

.btn-dark{
  background-color: #281313 !important;
}
/*barre rouge*/
.sub-jumb{
  background-color: #FE4240;
  padding: 10px;
}

.fd-transparent{
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.fd-noir-transparent{
  background-color: rgba(0, 0, 0, 0.4) !important;
}
