body{
  font-family: 'Lato', sans-serif;
}
.js_enabled #cookie-message {
  display: none;
}

.bleu{
  color: #6d9dc5 !important;
}

.carousel-indicators li {
    background-color: white !important;
}

.carousel-indicators li.active {
    background-color: #6d9dc5 !important;
}

.fd-noir-transparent{
  background-color: rgba(0, 0, 0, 0.4) !important;
}

/*gallerie photos*/
img#photosSlide{
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid red;
}

#thumbs{
  /*border: 4px solid purple;*/
  display: flex;
  justify-content: center;
}

.thumbnail{
  /*border: 2px solid hotPink;*/
}

.thumbnail {
    margin: 3px;
    /*border: 1px solid hotPink;*/
    width: 180px;
    height: 100px;
}

.thumbnail:hover {
    /*border: 1px solid yellow;*/
}
