body{
  font-family: 'Lato', sans-serif;
}
.js_enabled #cookie-message {
  display: none;
}

/*.bleu{
  color: #6d9dc5 !important;
}*/

.carousel-indicators li {
    background-color: white !important;
}

.carousel-indicators li.active {
    background-color: black !important;
}

.fd-noir-transparent{
  background-color: rgba(0, 0, 0, 0.4) !important;
}

/*biographie*/
.cache{
  display: none;
}

/*gallerie photos*/
img#photosSlide{
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#infoPicture{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#thumbs{
  display: flex;
  justify-content: center;
}

.thumbnail {
    margin: 10px;
    width: 180px;
    height: 100px;
}

.thumbnail:hover {
    margin-top:1px;
}
