body{
  font-family: 'Lato', sans-serif;
}

.js_enabled #cookie-message {
  display: none;
}

.rouge{
  color: #FE423E !important;
}

.jumbotron{
  position: relative !important;
  margin-bottom: 0px;
}

/* navigation */
nav.navbar{
  position: absolute ;
  z-index: 10;
}

.fd-transparent{
  background-color: rgba(255, 255, 255, 0.1) !important;
}

 a.nav-link:hover{
  background-color: #FE4140 !important;
}

#HomeNav:hover{
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* recherche */
.fd-noir-transparent{
  background-color: rgba(0, 0, 0, 0.4) !important;
}

/* carousel header */
.carousel#carouselHeader{
  z-index: 5;
}

.shadow{
  filter: brightness(0.30);
}

.lightness{
  filter: none;
}

.carousel-indicators li {
    background-color: white !important;
}

.carousel-indicators li.active {
    background-color: #FE423E !important;
}

/* element header */
.btn-danger{
  background-color: #FE4140;
}

/*barre rouge*/
.sub-jumb{
  background-color: #FE4240;
  padding: 10px;
}

ul.barre-rouge{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.btn-dark{
  background-color: #281313 !important;
}

/*onglets reseaux*/

#reseaux{
  position: fixed;
  top: 100px;
  z-index: 40;
}

button.btn-onglet{
  border-radius: 0px 25px 25px 0px !important;
  margin-bottom: 5px;
  width: 120px !important;
  left: -80px;
}

button.btn-onglet:hover{
  left: 0px;
}

ul.onglet{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#onglet-twitter{
  background-color: #15A2F9;
}

#onglet-facebook{
  background-color: #3E5F93;
}

#onglet-dribbble{
  background-color: #E6568C;
}

#onglet-google{
  background-color: #D04B38;
}

/*slide films*/

#carouselFilms .carousel-inner{
  height: 355px;
}

.bande-films{
  margin-top: 30px;
  margin-bottom: 30px;
  /*padding-left: 110px; */
}

.films{
  width: 150px;
  height: 250px;
}


ul.info-films{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*modal films*/

a.modalFilm:hover{
  font-weight: bold;
  cursor: pointer;
}

/*icone fleche to the top*/

a.arrowTop{
  position: fixed;
  z-index: 50;
  bottom: 30px;
  right: 30px;
  color: white;
  background-color: #0D0D0D;
  padding: 8px 12px;
  border: 3px solid red;
  border-radius: 50%;
}

a.arrowTop:hover{
  padding: 10px 13px;
}

.genre_button{
  background-color: #d4d4d4;
  color: #0D0D0D;
  border: none;
  margin: 10px 1px;
  width: 100px;
  height: 50px;
  cursor: pointer;
}
.genre_button.active{
  color: #FFF;
  background-color: #FE4140;
}
.show_more_less{
  background-color: #FE4140;
  color: #FFF;
  font-weight: bold;
  border: none;
  margin: 10px auto;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

.contact{
  margin-top: 50px;
}
.contact h2, .shop h2, .series h2{
  color: #0D0D0D;
  padding-left: 10px;
  border-left: 4px solid #FE423E;
  margin-left: 30px;
}

.shop iframe{
  width: 100%;
  height: 300px;
}
.shop .card-body.trailer{
  background-color: #0D0D0D;
  color: #FE4240;
}
.shop_para p{
  margin-bottom: 0;
}
.shop_para p.card-text{
  color: #7a7a7e;
}

footer{
  background-color: #0D0D0D;
  padding-top: 20px;
  margin-top: 15px;
  font-size: 0.75em;

}

footer h2{
  color: #FE423E;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer h4{
  color: #A29FA1;
}

footer h3{
  margin-bottom: 0 !important;
  color: #A29FA1;
}

div .allezcine{
  margin-right: 20px;
}

hr .allezcine{
  margin-top: 0 !important;
}

footer ul{
  list-style-type: none;
  display: block;
  float: left;
  padding-left: 0;
  color: #2E2E2F;
}

.connect{
  text-align: center;
  margin-bottom: 30px;
}
.connect i{
  padding: 5px;
  border: 1px solid #FFF;
  width: 25px;
  color: #FFF;
}

.subscribe{
  margin-bottom: 30px;
  text-align: center;
}

.subscribe input[type="text"]{
  border-radius: 0;
  padding: 5px;
  border: none;
}
.subscribe input[type="submit"]{
  border: none;
  padding: 5px;
  background-color: #FE423E;
  color: #FFF;
}

.form_button{
  border: none;
  font-weight: bold;
  padding: 5px;
  background-color: #FE423E;
  color: #FFF;
}

footer iframe{
  width: 40%;
  height: 60px;
  background-color: grey;
  margin-bottom: 15px;
  margin-right: 5px;
}

footer a, footer a:hover, footer a:visited{
  text-decoration: none;
  color:  #A29FA1;
  background-color: #2E2E2F;
  padding: 2px 10px;
  line-height: 20px;
}

footer hr{
  border-top: 1px solid #2E2E2F;
}

footer img{
  margin: 0;
  padding: 0;
  width: 33%;
}

.card-body{
  color: #2E2E2F;
  padding: 0;
  margin: 0;
}

.shop .col-xl-3{
  padding-bottom: 5px;
}
.trailer_div{
  padding-left: 0;
  padding-right: 0;
  z-index: 5;
}
.shop .card, .shop .card-img-top{
  border-radius: 0;
}
.shop img{
  cursor: pointer;
}

.shop .card-body{
  background-color: #e0e0e2;
  min-height: 70px;
}
.carousel_button{
  color: #0D0D0D;
  cursor: pointer;
}
.shop span.carousel_button{
  color: #A29FA1;
  background-color: #0D0D0D;
  border: 1px solid #A29FA1;
  font-size: 1.5em;
}
.poster{
  width: 150px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

#trailerTitle{
  color: #FE4240;
}
.card-body.trailer{
  min-height: 200px;
}
.index{
  background-color: #0D0D0D;
}
.question_box{
  margin-top: 100px;
  background-color: #FFF;
  color: #0D0D0D
}
.question{
  text-align: center;
}
.index a, .index a:visited{
  text-decoration: none;
  color: #0D0D0D
}
.index a:hover{
  color: #FE4140;
}
#map{
  min-height: 200px;
}

body.modal-open {
  overflow: visible;
}
.trailer_frame{
  display: none;
}

@media (min-width: 576px) {
  footer img{
    width: 25%;
  }
}


@media (min-width: 768px) {
  #map{
    min-height: 300px;
  }
}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {
  #map{
    min-height: 400px;
  }
  .trailer_frame{
    display: block;
  }
  footer img{
    width: 33%;
  }
}

/*responsive top*/
@media(min-width:1200px){
  .bande-films{
    padding-left: 100px;
  }
}

@media (max-width: 576px) {
  #navigation{
    background-color: black !important;
  }

  #carouselHeader.carousel{
    display: none;
  }


  #reseaux{
    top: 300px;
    height: 40%;
  }
}

@media (max-width: 768px) {
  #carouselFilms .carousel-inner{
    height: auto;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*modal question d'autorisation*/

#themodal{
  width: 50%;
  height: 40%;
  padding-top: 5%;
  border: 3px solid #FE423E;
  background-color: black;
  top: 150px;
}

.questModal{
  text-align: center;
  color: white;
}

.choix{
  color: white;
}

.choix:hover{
  color: #FE423E;
  text-decoration: none;
}

@media (max-width: 755px) {
  #themodal{
    width: 350px;
    height: 250px;
    padding-top: 50px;
  }
}
