body{
  font-family: 'Lato', sans-serif;
  background-color: #0D0D0D;
  color: white;
}
.js_enabled #cookie-message {
  display: none;
}

.dore{
  color: #BC994E !important;
}

.carousel-indicators li {
    background-color: white !important;
}

.carousel-indicators li.active {
    background-color: #BC994E !important;
}

.fd-noir-transparent{
  background-color: rgba(0, 0, 0, 0.4) !important;
}

/*onglets principaux JC*/
#myTabSup{
  border-color:  #BC994E !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a.nav-link.active{
  color: #BC994E !important;
}

/*presentation*/
#presentation{
margin-top: 30px;
}


/*biographie*/
button.btn-link:focus{
  text-decoration: none;
  color: #BC994E !important
}

button.btn-link:hover{
  text-decoration: none;
  color: #BC994E !important
}


/*gallerie photos*/
/*img#photosSlide{
  width: 40%;
  height: 40%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}*/

#gallerieJc{
  width: 500px;
  height: 340px;
  background-image: url("assets/image/img jcvd/photojc/1-Jean-Claude Van Johnson (2016).jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  #gallerieJc{
    width: 400px;
    height: 240px;
  }
  .citationJc{
    display: none;
  }
}

#infoPicture{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#thumbs{
  display: flex;
  justify-content: center;
}

.thumbnail {
    margin: 10px;
    width: 147px;
    height: 100px;
}

.thumbnail:hover {
    margin-top:1px;
    padding-left: 3px;
    border-left: 2px solid #BC994E;
}

.card{
  background-color: #2E2E2F;
  border: 1px solid #BC994E;
}
.card-img-top{
  margin-top: 5px;
  border: 1px solid #BC994E;
}
.modal-dialog.modal-lg .modal-content{
  background-color: #2E2E2F;
  border: 1px solid #BC994E;
}
.modal-header{
  border-bottom: 1px solid #BC994E;
}
.modal-footer{
  border-top: 1px solid #BC994E;
}

#myTab{
  border-color:  #BC994E !important;
}

footer{
  background-color: black;
  padding-top: 20px;
  margin-top: 15px;
  font-size: 0.50em;
  color: #2E2E2F;
  text-align: center;
}

footer a, footer a:hover, footer a:visited{
  text-decoration: none;
  color: #BC994E;
}
a.allezcine{
  font-size: 2em;
}
footer h3{
  font-size: 1.5em;
  margin-bottom: 1px;
}
footer h2{
  margin-bottom: 1px;
  font-size: 1.8em;
}

#buttonSendContact{
  border-color:  #BC994E !important;
  background-color: #0D0D0D;
}

#buttonSendContact:hover{
  background-color: black;
}
